<div class="head_top">
			<div class="center-block cl">
				<div class="fl">欢迎进入重庆森迪安防产业发展有限公司！</div>
				<div class="fr">
					<a href="/index.php/Home/Index">集团首页</a>
					<span>|</span>
					<a href="/index.php/Home5/Index">公司首页</a>
					<span>|</span>
					<a href="/index.php/Admin5/User/login">进入后台</a>
					<span>|</span>
					<a href="">中文</a>
					<span>|</span>
					<a href="/index.php/Homeen5/Index/index">ENGLISH</a>
				</div>
			</div>
		</div>
		<div class="head_bottom">
			<div class="center-block cl">
				<a href="/index.php/Home5/Index/index" class="logo fl"><img src="__IMAGES__logo.png"/></a>
				<ul class="nav fr cl">
					<li><a href="/index.php/Home5/Walkto/index">公司介绍</a></li>
					<li><a href="/index.php/Home5/product/index">产品介绍</a></li>
					<li><a href="/index.php/Home5/News/index">公司动态</a></li>
					<li><a href="/index.php/Home5/Contact/index">联系我们</a></li>
					<li><a href="/index.php/Home5/Work/index">人才招聘</a></li>
				</ul>
			</div>
		</div>
		<div class="banner">
			<div class="slide cl">
		      	<foreach name="ban" item="val">
		        	<a href="" class="fl" style="background-image: url({$val['ban_url']});"></a>
		 		</foreach>
			</div>
			<div class="slide_nav"><span class="on"></span><span></span><span></span><span></span><span></span></div>
		</div>