<div class="head_top">
			<div class="center-block cl">
				<div class="fl">Welcome to Chongqing Sunday Security Industry Development Co. ltd.!</div>
				<div class="fr">
					<a href="/index.php/Homen/Index">Home</a>
					<span>|</span>
					<a href="/index.php/Adminen1/User/login">Login Admin</a>
					<span>|</span>
					<a href="/index.php/Home1/Index">Chinese</a>
					<span>|</span>
					<a href="/index.php/Homeen1/Index">ENGLISH</a>
				</div>
			</div>
		</div>
		<div class="head_bottom">
			<div class="center-block cl">
				<a href="/index.php/Homeen1/Index/index" class="logo fl"><img src="__IMAGES__logo.png"/></a>
				<ul class="nav fr cl">
					<li><a href="/index.php/Homeen1/Walkto/index">Introduction</a></li>
					<li><a href="/index.php/Homeen1/product/index">Product</a></li>
					<li><a href="/index.php/Homeen1/News/index">News</a></li>
					<li><a href="/index.php/Homeen1/Contact/index">Contact</a></li>
					<li><a href="/index.php/Homeen1/Work/index">Recruitment</a></li>
				</ul>
			</div>
		</div>
		<div class="banner">
			<div class="slide cl">
				      	<foreach name="ban" item="val">
        <a href="" class="fl" style="background-image: url({$val['ban_url']});"></a>
 		</foreach>
			</div>
			<div class="slide_nav"><span class="on"></span><span></span><span></span><span></span><span></span></div>
		</div>