    <div class="footer">
      <div class="center-block cl">
        <div class="left fl">
          <p>Address：Chongqing SENDY Industrial Development Co. Ltd. Chongqing security ICP No. 11003267</p>
          <p><span>Telphone：02300000000</span><span>Fax: 02300000000</span></p>
        </div>
        <div class="center fl">
          <p>Copyright: Chongqing Sunday security</p>
          <p>Copy right?2015-_all rights reserved</p>
        </div>
        <div class="right fl">
          <!--<div><a href="">About</a><span>|</span><a href="">Contact Us</a></div>-->
          <!--<p>Beijing public security preparation:11010502024827</p>-->
        </div>
      </div>
    </div>