    <div class="footer">
      <div class="center-block cl">
        <div class="left fl">
        	<p>版权所有：重庆森迪时代安防技术有限公司</p>
          <!--<p>地址：重庆九龙坡区西彭镇铝城大道88号</p>-->
          <!--<p>
          	<span>电话：68123333</span>&nbsp;
          	<span>渝ICP备16004239号</span>
          
          	<span>传真: 02300000000</span>
          </p>-->
        </div>
        <div class="center fl">
          <!--<p>版权所有：重庆森迪时代安防技术有限公司</p>-->
          <p>Copy right 2015-_all rights reserved</p>
        </div>
        <div class="right fl">
         <!-- <div><a href="">关于我们</a><span>|</span><a href="">联系我们</a></div>-->
          <p>渝ICP备16004239号</p>
        </div>
      </div>
    </div>