<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="页面描述"/>
		<meta name="keywords" content="关键字,关键字"/>
		<meta name="robots" content="index,follow"/>
		<meta name="renderer" content="webkit">
		<title></title>
		<link rel="stylesheet" type="text/css" href="__CSS__filiale.global.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__filiale2.global.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__walk.into.css"/>
	</head>
	<body>
		<include file="Common/header"/>
		<div class="center-block">
			<div class="location">当前位置：<a href="/index.php/Home2/Index/index"><span style="font-weight: bold;color: #000000;">返回首页</span></a>&nbsp;&gt;&gt;&nbsp;<span>公司动态</span><span>&nbsp;&gt;&gt;&nbsp;{$catename}</span></div>
			<div class="main_section cl">
				<div class="left fl">
					<ul class="menu">
						<li class="tit">导航</li>
						<foreach name="cate" item='vo'>
							<li class="li"><a href="/index.php/Home2/News/index/id/{$vo['cate_id']}">{$vo['cate_name']}</a></li>
						</foreach>
					</ul>
				</div>
				<div class="right fr">
					<div class="tit cl">
						<span class="fl">公司动态</span>
						<a href="" class="fr">MORE&gt;&gt;</a>
					</div>
					<ul>
						<foreach name="list" item="vo">
						<li class="cl">    
						
							<div class="l fl"><img class="adapt" src="<?php if($vo['art_thumb']){echo $vo['art_thumb'];}else{ echo  '__IMAGES__8.jpg';} ?>"/></div>
							<div class="r fl">
								<div class="title_bar cl">
									<a href="/index.php/Home2/News/details/id/{$vo['art_id']}" class="fl">{$vo['art_title']}</a><span class="fr">{$vo.art_addtime|date='Y-m-d',###}</span>
								</div>
								<p>
									<?php 
					            $str  =stripslashes($vo['art_content']);
					            $str1 =str_cut($str,0,144);
					            echo htmlspecialchars_decode($str1); 
				            ?>
								</p>
							</div>
						</li>
						</foreach>
					</ul>
					<div class="page_turn">
						<a href="/index.php/Home2/News/index/p/<?php if($_GET['p']-1>0){echo $_GET['p']-1;}else{echo 1;} ?>">上一页</a>
						<a href="/index.php/Home2/News/index/p/1">1</a>
						<a href="/index.php/Home2/News/index/p/2">2</a>
						<span>...</span>
						<a href="/index.php/Home2/News/index/p/<?php if($page>3){echo $page-2;}else{echo 4;} ?>"><?php if($page>3){echo $page-2;}else{echo 4;} ?></a>
						<a href="/index.php/Home2/News/index/p/<?php if($page>4){echo $page-1;}else{echo 5;} ?>"><?php if($page>4){echo $page-1;}else{echo 5;} ?></a>
						
						<a href="/index.php/Home2/News/index/p/<?php if($_GET['p']+1>$page){echo $page;}else{echo $_GET['p']+1;} ?>">下一页</a>
						<a href="/index.php/Home2/News/index/p/{$page}">尾页</a>
					</div>
				</div>
			</div>
		</div>
<include file="Common/foot"/>
	</body>
</html>
<script type="text/javascript" src="__JS__jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="__JS__js.js"></script>